.skills {
    padding: 3rem 0;
  }
  
  .skills h2 {
    text-align: center;
    margin-bottom: 3rem;
  }
  
  .skills .skills-icons {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 700px;
    margin: 0 auto;
  }
  
  .skills .skills-icons svg {
    margin: 0.75rem;
    width: 70px;
  }
  
  .skills .skills-icons li {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 1rem;
    margin: 0 0.5rem 1rem 0.5rem;
  }
  
  .skills .skills-icons li:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }